:root {
    --gpa-0: #A30000;
    --gpa-1: #0029A3;  
    --gpa-2: #007A29;  
    --gpa-3: #d3d3d3;  
    --gpa-4: #FF0000;  
    --gpa-5: #0066CC;  
    --gpa-6: #33CC33;  
    --gpa-7: #4287f5; 
    --gpa-8: #edc240; 
    --gpa-9: #afd8f8; 
    --gpa-10: #cb4b4b; 
    --gpa-11: #4da74d; 
    --gpa-12: #9440ed; 
    --gpa-13: #BD9B33; 
    --gpa-14: #EE2E2F; 
    --gpa-15: #008C48; 
    --gpa-16: #185AA9; 
    --gpa-17: #F47D23; 
    --gpa-18: #662C91; 
    --gpa-19: #A21D21; 
    --gpa-20: #B43894; 
    --gpa-21: #737373; 
}
